@media screen and (max-width: 600px) {

    .hero__container-text{
        top: 25%;
        font-size: larger;
    }
    
    .hero__container-img{
        position: relative;
        height: 150px;
    }
}