nav{
    width: 90%;
    padding-top: 2rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__container-right{
    gap: 30px;
    width: 200px;
    display: flex;
    margin-left: auto;
}

.Link{
    color: #FF6060;
    font-weight: bold;
    text-decoration: none;
}

.logo{
    width: 200px;
}