@media screen and (max-width: 600px) {
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .nav__container-right{
        gap: 15px;
        width: 200px;
        display: flex;
        margin-left: auto;
    }

    .Link{
        font-size: medium;
    }

    .logo{
        width: 40%;
    }
}

